<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rest Api  tests">
<!-- <test name="Get Api sanity test">
     <classes>
         <class name="com.restassured.TestExamples">
             <methods>
                 <include name="test_2"/>
             </methods>
         </class>
     </classes>
 </test>-->
    <test name="post Api sanity test">
        <classes>
            <class name="com.restassured.PutPatchDelete">

            </class>
        </classes>
    </test>
</suite>